@import "settings";

.card-deck-wrapper {
  .card-deck {
    .card {
      width: $card-width;
      margin-right: $card-margin-right;
      margin-bottom: $card-margin-bottom;
      transition: $transition-all;
      opacity: 1;
      &:hover {
        cursor: pointer;
        box-shadow: $card-hover-shadow;
      }
      background-color: $card-bg;

      .component-group,
      .component-id {
        display: none;
      }
    }
  }
}

#image-card-list {
  .card-deck {
    .card {
      height: $card-height-with-img;
      .image-container {
        text-align: center;
        width: 100%;
        img {
          height: $card-img-height;
          max-width: $card-img-max-width;
        }
      }
    }
  }
}

#text-card-list {
  .card-deck {
    .card {
      height: $card-height;
    }
  }
}


#component-template {
  display: none;
}

#detailed-view {
  .modal-dialog {
    width: $modal-width;
    margin-left: auto;
    margin-right: auto;
    .component-id {
      display: none;
    }
  }
  .image-container {
    .component-image {
      width: 100%;
      max-height: $modal-img-max-height;
    }

    .file-upload {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .image-actions {
      padding-left: $img-actions-left-padding;

      .change-image {
        cursor: pointer;
        display: inline-block;
        width: $img-change-width;
      }

      .name-and-upload-container {
        display: inline-block;
        width: $img-name-container-width;
        .image-name {
          cursor: pointer;
          display: inline-block;
          width: 100%;
        }

        .upload-image {
          width: $img-upload-width;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }
}