@import "settings";
#content {
  #component-groups {
    .table-container {
      width: 600px;
      margin: $margin-to-header;
      .action-bar{
        margin: $action-bar-margin;
      }
      .table {
        td{
          padding: $table-td-padding;
          &.button-within {
            text-align: center;
          }
        }

        .edit-mode,
        .delete-mode {
          display: none;
        }
      }
    }

    #new-component-page {
      display: none;
      height: 25px;
    }
  }
}