@import "settings";

.card-deck-wrapper {
  .card-deck {
    .card {
      height: 400px;
      width: 300px;
      margin-left: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease 0s;
      opacity: 1;
      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 2px 1px #dddddd;
      }
    }
  }
}

#image-card-list {
  .card-deck {
    .card {
      .image-container {
        text-align: center;
        width: 100%;
        img {
          height: 200px;
          max-width: 296px;
        }
      }
    }
  }
}

#text-card-list {
  .card-deck {
    .card {
      height: 200px;
    }
  }
}

#detailed-view {
  .image-container {
    .component-image {
      width: 100%;
      max-height: 400px;
    }

    .file-upload {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .image-actions {
      padding-left: 1px;

      .change-image {
        cursor: pointer;
        display: inline-block;
        width: 131px;
      }

      .name-and-upload-container {
        display: inline-block;
        width: calc(100% - 130px);
        .image-name {
          cursor: pointer;
          display: inline-block;
          width: calc(100% - 69px);
        }

        .upload-image {
          width: 71px;
          cursor: pointer;
          display: inline-block;
        }

      }
    }
  }
}