@import "settings";
#header {
  .navbar {
    background-color: $dark-blue;
    .container {
      a { color: $white; }
      a:hover { color: $light-green; background-color: transparent; }
    }
  }
}
