@import "settings";
body {
  background-color: $white;
  padding: 0;
  font-size: $body-font-size;
}

.invalid-input {
  border: $invalid-border;
}

#content {
  width: 100%;
  padding: $content-padding;
  font-size: $body-font-size;
  .table {
    font-size: inherit;
  }
}

.icon-container {
  width: 40px;
  text-align: center;
  vertical-align: middle;
  .glyphicon-remove{ color: $red; }
  .glyphicon-edit { color: $light-yellow; }
  &:hover {
    cursor: pointer;
  }
}

.btn-success {
  color: $white;
  background-color: $light-green;
  border-color: $light-green;
  &:hover,
  &:active,
  &:focus {
    background-color: $dark-green !important;
    border-color: $dark-green !important;
  }
}

.btn-warning {
  color: $white;
  background-color: $light-yellow;
  border-color: $light-yellow;
  &:hover,
  &:active,
  &:focus {
    background-color: $dark-yellow !important;
    border-color: $dark-yellow !important;
  }
}

.input-sm,
.btn-sm {
  height: 25px;
  line-height: 1;
}
