/*color section*/
$white: #f7f7f7;
$red: #D62C1A;
$yellow: #C87F0A;
$light-green: #128F76;
$dark-green: #0F7864;
$dark-blue: #2C3E50;
$light-blue: #217DBB;
$light-gray: #798D8F;


/*border section*/
$invalid-border: 1px solid $red;

/*padding & margin*/
$content-padding: 0 10px;
