/*color section*/
$white: #f7f7f7;
$red: #CE4844;
$light-yellow: #f39c12;
$dark-yellow: #C87F0A;
$light-green: #128F76;
$dark-green: #0F7864;
$dark-blue: #2C3E50;
$light-blue: #217DBB;
$light-grey: #798D8F;


/*border section*/
$invalid-border: 1px solid $red;

/*padding & margin*/
$content-padding: 0 10px;
$table-td-padding: 5px;
$action-bar-margin: 0 0 10px 0;
$margin-to-header: 20px 0 0 0;

/*size*/
$body-font-size: 14px;