<html>
    <head>
        <title>
            {% block title %}My Site{% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/css/min/settings.css">
            <link rel="stylesheet" href="/static/css/min/main.css" />
        {% endblock %}
        {% block script %}
            <script src="/static/bower_components/jquery/dist/jquery.js"></script>
            <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script src="/static/js/main.js" type="text/javascript"></script>
            <script src="/static/js/app.js" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                {% if dependencies is defined and "header" in dependencies %}
                    {% include "layouts/header.html" %}
                {% endif %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>


