{% extends "layouts/base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/min/header.css">
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/header.js"></script>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("main.index") }}">
                    {{ dependencies["header"].app_name  }}
                </a>
            </div>
            <div class="navbar-collapse navbar-left">
                <ul class="nav navbar-nav">
                    {% for item in dependencies["header"].menu_items %}
                        {% if item.children|length > 0 %}
                            <li class="dropdown{% if item.active %} active{% endif %}">
                                <a href="{{ item.url }}"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ item.name }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for sub_menu in item.children %}
                                        <li><a href="{{ sub_menu.url }}">{{ sub_menu.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="{% if item.active %}active{% endif %}"><a href="{{ item.url }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
