{% extends "layouts/base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/min/header.css">
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/header.js"></script>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("main.index") }}">
                    {{ dependencies["header"].app_name  }}
                </a>
            </div>
            <div class="navbar-collapse navbar-left">
                <ul class="nav navbar-nav">
                    {% for item in dependencies["header"].menu_items %}
                        <li class="{% if item.active %}active{% endif %}"><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Texts</a></li>
                            <li><a href="#">Images</a></li>
                            <li><a href="#">Links</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
