{% extends "layouts/base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
    <div id="login-form-container" class="container">
        <form class="container" id="login-form" method="post">
            <div class="form-group">
                <label for="login-username">Username</label>
                <input type="text"
                       class="form-control
                       {% if validation is defined and validation["status"] == "user_not_found"%}
                           invalid-input
                       {% endif %}"
                       id="login-username"
                       placeholder="Username"
                       name="username"
                       value="{{request.form.username}}"
                >
            </div>
            <div>
                <label for="login-password">Password</label>
                <input type="password"
                       class="form-control
                       {% if validation is defined and validation["status"] == "password_incorrect"%}
                           invalid-input
                       {% endif %}"
                       id="login-password"
                       placeholder="Password"
                       name="password"
                >
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-success" name="sign-in">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}
