{% extends "layouts/base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/min/component_groups.css">

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/component-groups.js"> </script>
{% endblock %}


{% block content %}
    <div id="component-groups" class="container">
        <div style="margin-bottom: 20px; padding-left: 15px;">
            <strong>you can add new component group from here</strong>
        </div>

        <form class="container form-inline" id="new-component-group-form" action="">
            <div class="form-group">
                <input type="text" class="form-control form-control-success name" placeholder="Group name" id="new-component-group-name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-success group-id" placeholder="Group Id" id="new-component-group-group-id">
            </div>
            <div class="form-group">
                <button class="btn btn-success-outline" type="button" id="new-component-group-add-btn">add</button>
            </div>
        </form>

        <hr>

        <div id="component-group-list">
            <form class="container form-inline component-group-item" id="component-group-template" action="" data-id="#id#" style="display: none;">
                <div class="form-group">
                    <input type="text"
                           class="form-control name"
                           placeholder="Group Name"
                           value="#name#"
                        >
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control group-id"
                           placeholder="Group ID"
                           value="#group_id#"
                           disabled
                        >
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button class="btn btn-warning-outline" type="button">update</button>
                        <button class="btn btn-danger-outline" type="button">remove</button>
                    </div>
                </div>
            </form>

            {% for item in dependencies["component_groups"] %}
                <form class="container form-inline component-group-item" action="" data-id="{{ item["_id"] }}">
                    <div class="form-group">
                        <input type="text"
                               class="form-control name"
                               placeholder="Group Name"
                               value="{{ item["name"]}}"
                        >
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control group-id"
                               placeholder="Group ID"
                               value="{{ item["group_id"]}}"
                               disabled
                        >
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-warning-outline update-btn" type="button">update</button>
                            <button class="btn btn-danger-outline remove-btn" type="button">remove</button>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}