{% extends "layouts/base.html" %}

{% block css %}
    {{ super() }}
    {{ load_css("components") | safe }}
{% endblock %}

{% block script %}
    {{ super() }}
    {{ load_script("components/base") | safe }}
{% endblock %}

{% block content %}
    <div class="container item-row" id="component-group-filters">
        <div class="item-row">
            <h3>components</h3>
            <p>displaying the list of component groups you can edit, delete or add new component group
            displaying the list of component groups you can edit, delete or add new component group
            displaying the list of component groups you can edit, delete or add new component group</p>
        </div>
        <hr>
        <form action="" class="container form-inline">
            <div class="form-group">
                <label for="component-group-filter">Component Group</label>
                <select name="" id="component-group-filter" class="form-control">
                    <option value="" selected>all</option>
                    {% for item in dependencies["component_groups"] %}
                        <option value="{{ item["group_id"] }}">{{ item["name"] }}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <button class="btn btn-success-outline btn-sm" id="add-new-component-btn" type="button">Add</button>
                </div>
            </div>

            <div class="form-group item-row">
                <span class="text-muted">component prefix is <strong>login</strong></span>
            </div>
        </form>
        <hr>
    </div>
    {% block detailed_view %}
    {% endblock %}
{% endblock %}

